extends _layout
include components/common/_icons-list.jade
block title
	title The Isle - info: stats
block content
	- const footnote1 = 'Total time without hatchling stage'
	section.section(block="stats")
		.wrap
			//- +icons-list
			h1.h1.mb-5 Stats

			.content-style
				div(block="stats-table")
					table.js-vertical-highlight.js-table-sort
						thead
							tr
								th Dinosaur Name
								th Diet
								th Base Damage
								th Alternate Attack
								th Health
								th Mass (kg)
								th Speed (km/h)
								th Ambush (km/h)
								th Sprint Duration (min)
								th Base Bleed
								th
									p(data-tippy-content=footnote1) Growth Time (min)
										sup.ml-1 ?
						tbody

							- const growStages = ['hatch', 'juvie', 'sub', 'adult', 'total']

							each dino in locals.dinosaurs
								-const dietIcon = dino.diet === 'carnivore' ? 'meat' : 'leaf'
								-const dietSortValue = dino.diet === 'carnivore' ? 1 : 0
								-const alternateSortValue = dino.alternateAttack === 'n/a' ? 0 : null
								-const ambushSortValue = dino.ambush === 'n/a' ? 0 : null
								-const bleedSortValue = dino.bleedDamage === 'n/a' ? 0 : null

								tr
									td
										.d-flex.align-items-center
											+svg(dino.icon).mr-2(elem="dino-icon")
											| #{dino.name}
									td.text-center(data-sort=dietSortValue)
										i.d-inline-block(data-tippy-content=dino.diet)
											+svg(dietIcon)
									td #{dino.baseDamage}
									td(data-sort=alternateSortValue) #{dino.alternateAttack}
									td #{dino.health}
									td #{dino.mass}
									td #{dino.speed}
									td(data-sort=ambushSortValue) #{dino.ambush}
									td #{dino.sprint}
									td(data-sort=bleedSortValue) #{dino.bleedDamage}
									td
										.d-inline-flex.align-items-center.js-tooltip(elem="grow-list" data-tippy-placement="right-start" data-tippy-trigger="mouseenter")
											span #{dino.growTime.total}
											i.ml-2(elem="list-icon")
												+svg('list').d-block

											.d-none.js-tooltip-content(block="grow-list")
												ul(elem="list")
													each time, stage in dino.growTime
														if (stage !== 'total')
															li(elem="item")
																dl.d-flex
																	dt.mr-2 #{stage}:
																	dd #{time}


			.content-style.mt-5
				h3 Credits
				p.mb-0 Data was taken from:
				ul.mt-0
					li #[a(href="https://docs.google.com/spreadsheets/d/1LNIsS0NXxledmO4sYN8v7dmx5AnHIslJloyhKI9kKv8" target="_blank") Stats Spreadsheet], creator #[a(href="https://www.reddit.com/user/TSND_" target="_blank") TSND]
					li #[a(href="https://docs.google.com/document/d/1d_oHdkpVDHkXp3B4jyB6J_JxK0bytIWO-qFlqsXkC38" target="_blank") Growth Times doc], creator #[a(href=href) hypno#0828]
				p Icons made by #[a(href="https://www.flaticon.com/authors/freepik" target="_blank") Freepik] from #[a(href="https://www.flaticon.com" target="_blank") flaticon.com]

